


spring:
  application:
    name: Notification_Services
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notificationGROUP
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: com.uber.Model
        spring.json.value.default.type: com.uber.Model.UserPayment

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring:
          json:
            add:
              type:
                headers: false
server:
  port: 1949






